<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>澳門DIY氣象站</title>
  <script src="https://unpkg.com/vue@3.1.5/dist/vue.global.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css" rel="external nofollow" />
</head>
<body>
<div id="app"  style="padding: 10px;">
  <p>
    <a href="index.html" class="layui-btn">首頁</a>
    <a href="img1.jpg" class="layui-btn">分區示意圖</a>
  </p>
  <table class="layui-table">
    <thead>
    <tr>
      <td>地區</td>
      <td>温度C</td>
      <td>濕度%</td>
      <td>大氣壓hPa</td>
      <td>PM25</td>
      <td>UV</td>
      <td>雨量mm</td>
      <td>風速km/s</td>
      <td>風向度</td>
      <td>更新時間</td>
    </tr>
    </thead>
    <tr v-for="item in feeds">
      <td v-for="n in 10">{{item[n-1]}}</td>
    </tr>

  </table>
</div>  
<script>
  const app= Vue.createApp({
    data(){
      return{
        feeds: [],
        
      }
    },
    mounted(){
      const url= [['聖保祿學校(中學-主)','https://api.thingspeak.com/channels/1096688/feeds.json?results=1'],
                  ['聖保祿學校(中學-副)','https://api.thingspeak.com/channels/1092665/feeds.json?results=1'],
                  ['聖保祿學校(小學)','https://api.thingspeak.com/channels/1548229/feeds.json?results=1'],
                  ['台山區','https://api.thingspeak.com/channels/1532245/feeds.json?results=1'],
                  ['水塘區','https://api.thingspeak.com/channels/1558075/feeds.json?results=1'],
                  ['新口岸區','https://api.thingspeak.com/channels/1563960/feeds.json?results=1'],
                  ['高士德及雅廉訪區','https://api.thingspeak.com/channels/1564358/feeds.json?results=1']]
      for(let i=0;i<url.length;i++){
        axios
          .get(url[i][1])
          .then(response =>{
            let d= response.data['feeds'][0]
              if(i==0){
                this.feeds[i]=[url[i][0],
                  d.field1,
                  Number(d.field2).toFixed(2),
                  Number(d.field3).toFixed(2),
                  Number(d.field4).toFixed(2),
                  Number(d.field5).toFixed(2),
                  Number(d.field6).toFixed(2),
                  Number(d.field7).toFixed(2),
                  d.field8,
                  new Date(Date.parse(d.created_at)).toLocaleString('zh-TW', {timeZone: 'Asia/Taipei'})]
              }else{
                this.feeds[i]=[url[i][0],
                  d.field1,
                  Number(d.field2).toFixed(2),
                  Number(d.field3).toFixed(2),
                  ,
                  ,
                  ,
                  ,
                  ,
                  new Date(Date.parse(d.created_at)).toLocaleString('zh-TW', {timeZone: 'Asia/Taipei'})]
              }
              
          })
          .catch(function(error){console.log(error)})
      }
    },
  })
  app.mount('#app')
</script>
</body>
</html>